<html>
    <head>
        <title>likewise</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway|Lobster" />
        <link rel="stylesheet" type="text/css" href="/lib/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <script src="/lib/jquery-3.2.0.min.js"></script>
        <script src="/lib/semantic.min.js"></script>