<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard-stylesheet.css">
<link rel="stylesheet" type="text/css" href="/scripts/dashboard-script.css">
</head>
<body> 
<div class="dashboard-container">
    <div class="ui secondary pointing menu">
      <a class="active item">Dashboard</a>
      <a class="item">Profile</a>
      <a class="item">Messages</a>
      <div class="right menu">
        <a href="/logout" class="ui item">Logout</a>
      </div>
    </div>
    <div class="dashboard">
        <div class="all-posts">
            <% posts.forEach(function(post){ %>
                <h1><%= post.title %></h1>
                <h4><%= post.textContent %></h4>
                <p><a href="/posts/<%= post._id %>">See Post</a></p>
            <% }); %>
        </div>
        <form class="ui form" method="post" action="/newpost">
          <div class="field">
            <input type="text" name="newpost_title" />
          </div>
          <div class="field">
            <textarea style="max-height: 131px;" name="newpost_text"></textarea>
          </div>
          <button class="ui submit button" id="new-post" type="submit">New Post</button>
        </form>
    </div>
</div>
<% include partials/footer %>